<div class="bg-cover bg-center h-screen" style="background-image: url('https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');">
<%- include("./partials/header")%>
<h1 class="text-center mt-6 text-xl text-white font-extrabold text-4xl">these bookstore good enoghs</h1>

<%- include("./partials/footer")%>  
</div>