<div class="bg-cover bg-center h-screen" style="background-image: url('https://images.unsplash.com/photo-1718102696639-451bd772dca4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHx8fA%3D%3D');">
    <%- include("./partials/header")%>
    <h1 class="text-center font-bold uppercase text-5xl py-20 text-white  ">book store home</h1>
    <%- include("./partials/footer")%>
</div>